<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="main/mainpage">
<div layout:fragment="content">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장바구니</title>
    <link rel="stylesheet" href="/css/cart.css" />
</head>
<body>

<nav id="navbar-example2" class="navbar bg-light px-3 mb-3">
    <a class="navbar-brand" href="#">장바구니</a>
    <ul class="nav nav-pills">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-dark" id="tocart-btn">01 장바구니</button>
            <button type="button" class="btn btn-outline-dark" disabled>02 주문서</button>
            <button type="button" class="btn btn-outline-dark" disabled>03 결제완료</button>
        </div>
    </ul>
</nav>

<div id="cart-wrapper">
    <div id="cart-container">
        <div id="cart-content">
            <div class="cart-title">
<!--                <span><button id="allCheckBtn">전체선택</button><input type="checkbox" id="checkAll" checked="checked"/></span>-->
            </div>
            <div>
                <div id="cart-body">
                    <div class="table-responsive">
                        <table class="table align-middle">
                            <thead>
                                <tr><td th:colspan="7"><h3>장바구니</h3></td></tr>
                                <tr>
                                    <td th:colspan="7">
                                        <div class="checkDelBox">
                                            <div class="checkAllBox">
                                                <input type="checkbox" class="checkbox" id="checkAll" />
                                                <span>전체선택</span>
                                            </div>
                                            <div>
                                                <a id="checkedDelete">선택삭제</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr><td></td><td></td><td><h4>상품명</h4></td><td><h4>수량</h4></td><td><h4>상품 단가</h4></td><td><h4>합계</h4></td><td><h4>삭제</h4></td></tr>
                            </thead>
                            <tbody id="cartTableBody">
                                <th:block th:if="${cartItem ne null}">
                                    <tr th:each="cartItem : ${cartItem}">
                                        <td><input type="checkbox" class="checkbox checkOne" checked="checked"/></td>
                                        <td><div class="cartItemImg" th:style="'background-image: url('+ ${cartItem.getItemDto().getThumbnailUrl()} + ');'"></div></td>
                                        <td th:text="${cartItem.getItemDto().getName()}"></td>
                                        <td>
                                           <!--/* <div class="qty" th:text="${cartItem.getQuantity()}"></div> */-->
                                            <div>
                                                <input type="hidden" th:value="${cartItem.getId()}" />
                                                <input type="number" class="qty qtybox" name="quantity" min="1" th:max="${cartItem.getItemDto().getItemStock()}" th:value="${cartItem.getQuantity()}"/>
                                                <a class="updateBtn btn-secondary button">변경</a>
                                            </div>
                                        </td>
                                        <td class="price" th:text="${#numbers.formatInteger(cartItem.getItemDto().getPrice(), 3, 'COMMA')}"></td>
                                        <td class="totalPrice" th:text="${#numbers.formatInteger(cartItem.getItemDto().getPrice() * cartItem.getQuantity(), 3, 'COMMA')}"></td>
                                        <td>
                                           <!--/* <a th:href="@{/cart/{cartItemId}(cartItemId=${cartItem.id})}" class="deleteBtn">삭제</a> */-->
                                            <a class="deleteBtn">삭제</a>
                                            <input type="hidden" th:value="${cartItem.getId()}"/>
                                        </td>
                                    </tr>
                                </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div id="cart-side-bar">
            <div>
                <span><h2>적립혜택</h2></span><span id="reward"></span>
            </div>
            <div>
                <h2> 결제 예정 금액</h2>
                <div>
                    <span>상품 금액</span><span id="totalPriceBeforeDiscount"></span>
                </div>
                <div>
                    <span>할인 금액</span><span>0원</span>
                </div>
                <div>
                    <span>합계</span><span><h1 id="totalPriceAfterDiscount"></h1></span>
                </div>
            </div>
            <div>
                <form action="/cart/order" method="POST">
                    <input type="submit" id="orderBtn" class="btn btn-outline-danger" value="주문하기" />
                    <input type="hidden" id="checkedItemIds" name="cartItemIds"/>
                </form>
                <!-- 주문하면 주문창으로 -->
            </div>
        </div>
    </div>
</div>
</body>
</div>
</html>

<script th:inline="javascript">
    /*<![CDATA[*/

    // 숫자에서 콤마 제거하는 메소드
    function removeCommaAndGetNumber(price) {
        return price.replace(/,/g, '').replace(/\D/g, '');
    }

    // 콤마 추가 메소드
    function addCommas(price) {
        return price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    // 총 결제금액 계산 후 출력하는 이벤트
    function setPrice() {
        let totalPrice = 0;
        let checkedItemIds = [];

        let checkedCheckBoxes =
            document.querySelectorAll(".checkOne:checked");
        checkedCheckBoxes.forEach((dom) => {
            let eachTotalPrice = dom.closest("tr").querySelector('td[class="totalPrice"]').innerHTML;
            let eachItemId = dom.closest("tr").querySelector('input[type="hidden"]').value;

            totalPrice += parseInt(removeCommaAndGetNumber(eachTotalPrice));
            checkedItemIds.push(eachItemId);

            console.log("dom value : " + dom.value);
        });

        console.log("totalPrice : " + totalPrice);
        let rewardRate = (totalPrice * 3) / 100;

        document.getElementById("totalPriceBeforeDiscount").innerHTML = addCommas(totalPrice) + ' 원';
        document.getElementById("totalPriceAfterDiscount").innerHTML = addCommas(totalPrice) + ' 원';
        document.getElementById("reward").innerHTML =
            addCommas(rewardRate) + " Point";
        $('#checkedItemIds').val(checkedItemIds);
        console.log("hiddenIdArray : " + $('#checkedItemIds').val());
    }

    $(document).ready(function() {
        setPrice();
    });

    $(".checkbox").change(function() {
        setPrice();
    });

    // 전체선택 버튼 이벤트 메소드
    $(document).ready(function() {
        $('#checkAll').change(function() {
            $('.checkOne').prop('checked', $(this).prop('checked'));
        });
    });

    // 장바구니 선택삭제 이벤트
    $(document).ready(function() {
        $('#checkedDelete').click(function() {

            const hiddenValueArray = [];
            const checkedDomArray = [];

            const checkedCheckBoxes = document.querySelectorAll('.checkOne:checked');
            checkedCheckBoxes.forEach((checkbox) => {
                hiddenValueArray.push(checkbox.closest('tr').querySelector('input[type="hidden"]').value);
                checkedDomArray.push(checkbox.closest('tr'));
            });

            console.log("hiddenValueArray", hiddenValueArray);
            console.log("checkedDomArray", checkedDomArray);

            $.ajax({
                url: '/cart/all',
                method: 'DELETE',
                contentType: 'application/json',
                dataType: 'text',
                data: JSON.stringify(hiddenValueArray),
                beforeSend: function(xhr) {
                    xhr.setRequestHeader(header, token)
                },
                success(data) {
                    alert(data);
                    checkedDomArray.forEach((dom) => {dom.remove()})
                },
                error(result) {
                    console.log(result)
                }
            })
        });
    });

    // 장바구니 상품 개별 삭제 이벤트
    $('.deleteBtn').on('click', function() {
        let cartItemId = $(this).next().val();
        let targetDom = $(this).parent().parent();

        $.ajax({
            url: '/cart/' + cartItemId,
            type: 'DELETE',
            contentType: 'text',
            dataType: 'text',
            data: cartItemId,
            beforeSend: function(xhr) {
                xhr.setRequestHeader(header, token)
            },
            success: function(data) {
                console.log("result : " + data);
                targetDom.remove();
            },
            error(xhr, status, error) {
                console.log(xhr)
                console.log(status)
                console.log(error)
            },
        })
    })

    // 장바구니 checkbox 전체선택 이벤트
    $(document).ready(function() {
        if ($('#checkAll').prop('checked')) {
            $('.checkOne').prop('checked', $(this).prop('checked'));
        } else {
            $('.checkOne').prop('checked', $(this).prop('unchecked'));
        }
    });

    // 장바구니 개별 수량 변경 이벤트
    $('.updateBtn').on('click', function() {

        // let changedQuantity = $(this).prev().val();
        // let targetItem = $(this).prev().prev().val();

        let req = {
            changedQuantity : $(this).prev().val(),
            cartItemId : $(this).prev().prev().val()
        }

        $.ajax({
            url: "cart/item/quantity",
            type: "POST",
            data: JSON.stringify(req),
            contentType: 'application/json; charset=UTF-8',
            dataType: 'text',
            beforeSend: function(xhr) {
                xhr.setRequestHeader(header, token)
            },
            success: function(result) {
                alert(result);
                console.log(result);
                location.reload();
            },
            error: function(error) {
                alert(error);
                console.log("ajax 통신 실패" + error);
            }
        })
    })

    // // 주문하기 버튼 이벤트 메소드
    // $('#orderBtn').click(function() {
    //     let qtyList = $('input[class="item-qty"]').map(function() {
    //         return this.value;
    //     }).get();
    //     localStorage.setItem("qtyList", JSON.stringify(qtyList));
    //     location.href='/cart/order'
    // })

    // 주문하기 버튼 이벤트 메소드
    // $('#orderBtn').click(function() {

        // 버튼을 누르면 orderQuantity domList에 담긴 숫자를 가져와서 컨트롤러에 보내준다
        // 컨트롤러에서는 받은 값으로 cartItem의 qty를 수정한다.
        // 수정한 값을 주문서에 출력한다.

        // let qtyList = $('input[class="item-qty"]').map(function() {
        //     return this.value;
        // }).get()
        //
        // $.ajax({
        //     type:'POST',
        //     url : '/cart/order',
        //     data: JSON.stringify(qtyList),
        //     contentType : 'application/json',
        //     dataType : 'text',
        //     success:function(result) {
        //         console.log(result);
        //     }
        // })
        // localStorage.setItem("qtyList", JSON.stringify(qtyList));
        // location.href='/cart/order'
    // })

</script>