<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <th:block th:replace="main/config :: config"></th:block>
    <style>
        .comment-option-btns {
            width: 100px;
            display: flex;
            justify-content: space-evenly;
        }
        .comment-update-btn {
            cursor: pointer;
            text-decoration: none;
        }
        .comment-delete-btn {
            cursor: pointer;
            text-decoration: none;
        }
        .comment-content-box {
            margin-top: 30px;
        }
        .comment-like-box {
            display: flex;
            justify-content: space-evenly;
            width: 130px;
            height: 35px;
            align-items: center;
            border-radius: 20px;
            border: 1px solid lightgray;
            margin: 45px 30px;
        }
        .paging-btn-box {
            display: flex;
            margin: 0 auto;
        }
        .paging-btn-box div {
            display: flex;
            width: 30px;
            height: 30px;
            border: 1px solid lightGray;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
<!-- header start-->
<th:block th:replace="main/header :: header"></th:block>
<!-- header end -->

    <div id="item-detail-wrapper">
        <div id="item-detail">
            <div id="item-img-box" th:style="'background-image: url('+ ${item.getThumbnailUrl()} + ');'">
            </div>
            <div id="item-information">
                <div id="item-name-box">
                    <h1>[[${item.getName()}]]</h1>
                </div>
                <div id="item-detail-box">
                    <h3>[[${item.getDetail()}]]</h3>
                </div>
                <div id="item-stock-box">
                    잔여수량 : [[${item.getItemStock()}]]
                </div>
                <div id="order-quantity-box">
                    <h4>주문 수량</h4>
                    <input type="number" name="orderQuantity" class="countBox" id="orderQuantity" value="1" min="1"/>
                </div>
                <div id="usable-coupon-box"><a>사용가능한 쿠폰을 확인하세요</a></div>
                <div id="item-price-box" th:text="${'판매가격 : ' + #numbers.formatInteger(item.getPrice(), 3, 'COMMA') + ' 원'} "></div>
                <div id="order-button-box">
                    <button class="btn btn-outline-secondary" id="orderBtn">주문하기</button>
                    <button class="btn btn-outline-secondary" id="cartBtn">장바구니 추가</button>
                    <div class="item-like-box" th:if="${session.loginMember eq null}" style="background: white">
                        <div class="item-thumbs-up"></div>
                        <div class="like-title">좋아요</div>
                        <input type="hidden" th:value="${item.id}"/>
                        <input type="hidden" class="target" value="ITEM" />
                        <div class="like-counts" th:text="${likes.itemLikesCount}"></div>
                    </div>
                    <div class="item-like-box"  th:unless="${session.loginMember eq null}" th:style="'background: ' + ${likes.itemLikeBackgroundColorMap.get(session.loginMember.id)}">
                        <div class="item-thumbs-up"></div>
                        <div class="like-title">좋아요</div>
                        <input type="hidden" th:value="${item.id}"/>
                        <input type="hidden" class="target" value="ITEM" />
                        <div class="like-counts" th:text="${likes.itemLikesCount}"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="item-review-box">
            <div id="item-detail-review-wrapper">
                    <div id="buyer-satisfied-score-box" class="card">
                    <div class="card-header text-center">
                        <span id="satisfied-rate" class="text-primary"></span><span>의 구매자가 만족했어요</span>
                    </div>
                    <div class="card-body">
                        <div id="rating-container">
                            <div class="rating-score">
                                <div class="satisfied-level"><span>매우 만족해요</span></div>
                                <div class="star-rating">
                                    <span class="star counted-stars text-primary">★★★★★</span>
                                </div>
                                <div class="graph-box">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" id="5-star-progress-bar"></div>
                                    </div>
                                </div>
                                <div class="percentage text-warning"></div>
                            </div>
                            <div class="rating-score">
                                <div class="satisfied-level"><span>만족해요</span></div>
                                <div class="star-rating">
                                    <label class="star counted-stars text-primary">★★★★</label><label class="star non-count-star">★</label>
                                </div>
                                <div class="graph-box">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" id="4-star-progress-bar"></div>
                                    </div>
                                </div>
                                <div class="percentage text-warning"></div>
                            </div>
                            <div class="rating-score">
                                <div class="satisfied-level">
                                    <span>보통이에요&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                </div>
                                <div class="star-level">
                                    <label class="star counted-stars text-primary">★★★</label><label class="star non-count-star">★★</label>
                                </div>
                                <div class="graph-box">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" id="3-star-progress-bar"></div>
                                    </div>
                                </div>
                                <div class="percentage text-warning"></div>
                            </div>
                            <div class="rating-score">
                                <div class="satisfied-level">
                                    아쉬워요&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                                <div class="star-level">
                                    <label class="star counted-stars text-primary">★★</label><label class="star non-count-star">★★★</label>
                                </div>
                                <div class="graph-box">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" id="2-star-progress-bar"></div>
                                    </div>
                                </div>
                                <div class="percentage text-warning"></div>
                            </div>
                            <div class="rating-score">
                                <div class="satisfied-level">매우 아쉬워요</div>
                                <div class="star-level">
                                    <label class="star counted-stars text-primary">★</label><label class="star non-count-star">★★★★</label>
                                </div>
                                <div class="graph-box">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" id="1-star-progress-bar"></div>
                                    </div>
                                </div>
                                <div class="percentage text-warning"></div>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="review-wrapper">
                    <div id="review-wrapper-header">
                        <div id="review-label">
                            <h3> 구매 후기 </h3>
                        </div>
                        <div id="review-event-box">
                            <div class="event-label outline-primary text-primary">EVENT</div>
                            <div class="review-event-text text-secondary">
                                사진 첨부 후기 작성 시 2,000원의 적립금을 드립니다.(직접 촬영한 사진 필수)
                            </div>
                            <div></div>
                        </div>
                    </div>
                    <div th:if="${reviewList.isEmpty()}" th:id="cards-wrapper">
                        <div id="empty-review-msg-box">
                            <h6> 등록된 후기가 없습니다. </h6>
                        </div>
                    </div>
                    <div th:unless="${reviewList.isEmpty()}" th:id="cards-wrapper">
                        <div id="review-container" th:each="review : ${reviewList}">
                            <div class="review-cards">
                                <div class="review-top">회원 리뷰</div>
                                <div class="review-contents">
                                    <div class="review-left-box">
                                        <div class="review-header" style="justify-content: space-between; display: flex">
                                            <span th:text="${'작성자 : ' + review.memberDto.name}"></span><span th:text="${#strings.substring(review.createdTime, 0, 10)}"></span>
                                        </div>
                                        <div class="order-item-detail" style="display: flex">
                                            <div class="item-img" th:if="${review.itemDto.thumbnailUrl ne null}" th:style="'background-image: url('+ ${review.itemDto.thumbnailUrl} + ');'"></div>
                                            <div class="like-item-name" th:text="${review.itemDto.name}"></div>
                                        </div>
                                        <div class="customer-star-rating-box">
                                    <span class="star counted-stars text-primary">
                                        <span class="review-star-value"></span>
                                        <input type="hidden" th:value="${review.starValue}" />
                                    </span>
                                        </div>
                                        <div class="review-text" th:text="${review.content}"></div>
                                        <div class="review-features-container">
                                            <div class="review-item-features text-secondary review-item-price-score" style="border: 1px solid; border-radius: 10px; width: 160px; text-align: center;">
                                                <span class="feature-title">상품 가격</span>
                                                <span class="feature-evaluate text-dark" style="font-weight: 500" th:if="${review.priceScore == 1}">비싸요</span>
                                                <span class="feature-evaluate text-dark" style="font-weight: 500" th:if="${review.priceScore == 2}">보통이에요</span>
                                                <span class="feature-evaluate text-dark" style="font-weight: 500" th:if="${review.priceScore == 3}">저렴해요</span>
                                            </div>
                                            <div class="review-item-features text-secondary review-item-quality-score" style="border: 1px solid; border-radius: 10px; width: 160px; text-align: center;">
                                                <span class="feature-title">상품 품질</span>
                                                <span class="feature-evaluate text-dark" style="font-weight: 500" th:if="${review.qualityScore == 1}">나빠요</span>
                                                <span class="feature-evaluate text-dark" style="font-weight: 500" th:if="${review.qualityScore == 2}">보통이에요</span>
                                                <span class="feature-evaluate text-dark" style="font-weight: 500" th:if="${review.qualityScore == 3}">좋아요</span>
                                            </div>
                                            <div class="review-item-features text-secondary review-item-delivery-score" style="border: 1px solid; border-radius: 10px; width: 160px; text-align: center;">
                                                <span class="feature-title">상품 배송</span>
                                                <span class="feature-evaluate text-dark" style="font-weight: 500" th:if="${review.deliveryScore == 1}">느려요</span>
                                                <span class="feature-evaluate text-dark" style="font-weight: 500" th:if="${review.deliveryScore == 2}">보통이에요</span>
                                                <span class="feature-evaluate text-dark" style="font-weight: 500" th:if="${review.deliveryScore == 3}">빨라요</span>
                                            </div>
                                            <div class="review-item-features text-secondary review-item-repurchase-score" style="border: 1px solid; border-radius: 10px; width: 160px; text-align: center;">
                                                <span class="feature-title">재구매 의사</span>
                                                <span class="feature-evaluate text-dark" style="font-weight: 500" th:if="${review.repurchaseScore == 1}">없어요</span>
                                                <span class="feature-evaluate text-dark" style="font-weight: 500" th:if="${review.repurchaseScore == 2}">보통이에요</span>
                                                <span class="feature-evaluate text-dark" style="font-weight: 500" th:if="${review.repurchaseScore == 3}">있어요</span>
                                            </div>
                                        </div>
                                        <div class="review-like-box" th:if="${session.loginMember eq null}">
                                            <div class="review-thumbs-up"></div>
                                            <div class="like-title">도움돼요</div>
                                            <div class="like-counts" th:text="${review.likesCount}"></div>
                                            <input type="hidden" class="review-id" th:value="${review.id}"/>
<!--                                            <input type="hidden" class="target" value="REVIEW" />-->
                                        </div>
                                        <div class="review-like-box" th:unless="${session.loginMember eq null}" th:style="'background: ' + ${likes.reviewLikeBgColorMapList.get(review.id)}">
                                            <div class="review-thumbs-up"></div>
                                            <div class="like-title">도움돼요</div>
                                            <div class="like-counts" th:text="${review.likesCount}"></div>
                                            <input type="hidden" class="review-id" th:value="${review.id}"/>
<!--                                            <input type="hidden" class="target" value="REVIEW" />-->
                                        </div>
                                    </div>
                                    <div class="review-right-box">
                                        <div class="customer-review-img-box" th:style="'background-image: url('+ ${review.thumbnail} + ');'"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="review-comment-box">
                                <div class="review-comment-header">
                                    <span>댓글&nbsp;</span>
                                    <span class="comment-counts text-secondary" th:text="${review.commentList.size()}"></span>
                                    <span class="text-secondary">개</span>
                                </div>
                                <div class="comment-input-container">
                                    <div id="comment-input-box">
                                        <textarea type="textarea" class="form-control comment-input-area" onfocus="commentAreaToggle()"></textarea>
                                        <input type="button" class="btn btn-outline-secondary comment-write-btn" value="작성"/>
                                        <input type="hidden" th:value="${review.id}" />
                                    </div>
                                </div>
                                <div class="comment-output-container">
                                    <div class="comment-cards" th:each="comment : ${review.commentList}">
                                        <div class="comment-center-box">
                                            <div class="comment-writer-id" th:text="${comment.memberDto.id}"></div>
                                            <div class="comment-content-box" th:text="${comment.content}"></div>
                                        </div>
                                        <div class="comment-like-box" th:if="${session.loginMember eq null}">
                                            <div class="comment-thumbs-up"></div>
                                            <div class="comment-title-box">좋아요</div>
                                            <div class="comment-like-counts" th:text="${comment.likesCount}"></div>
                                            <input type="hidden" class="comment-id" th:value="${comment.id}" />
                                        </div>
                                        <div class="comment-like-box" th:unless="${session.loginMember eq null}" th:style="'background: ' + ${likes.commentLikeBgColorMapList.get(comment.id)}">
                                            <div class="comment-thumbs-up"></div>
                                            <div class="comment-title-box">좋아요</div>
                                            <div class="comment-like-counts" th:text="${comment.likesCount}"></div>
                                            <input type="hidden" class="comment-id" th:value="${comment.id}" />
                                        </div>
                                        <div style="display: flex; align-items: center; justify-content: space-evenly">
                                            <div class="comment-created-time" th:text="${#strings.substring(comment.createdTime, 0, 10)}"></div>

                                            <div class="comment-option-btns" th:if="${session.loginMember ne null && session.loginMember.id eq comment.memberDto.id}">
                                                <a class="comment-update-btn"><div>수정</div></a>
                                                <a class="comment-delete-btn"><div>삭제</div></a>
                                                <input type="hidden" th:value="${comment.id}" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div th:if="${!reviewList.isEmpty()}" class="paging-btn-box">
                                <div th:each="reviewPage : ${#numbers.sequence(reviewStartPage, reviewEndPage)}">
                                    <a style="cursor: pointer" th:if="${reviewPage != reviewNowPage}" th:onclick="|location.href='@{/item/}' + ${item.id} + '?review_page=' + ${reviewPage - 1} + '#review-container' |" th:text="${reviewPage}"></a>
                                    <strong th:if="${reviewPage == reviewNowPage}" style="color:black" th:text="${reviewPage}"></strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div id="item-qna-wrapper">
            <div id="qna-wrapper-header">
                <div id="qna-label">
                    <h3>상품 문의</h3>
                </div>
            </div>
            <div id="qna-body">
                <!--<div th:if="${qnaList.size() == 0}" th:id="qna-container">
                    <div><h6> 등록된 문의가 없습니다. </h6></div>
                </div>
                <div th:unless="${qnaList.size() == 0}" th:id="qna-container"> -->
                <div id="qna-container">
                    <table class="table align-middle text-center table-hover" id="qna-table">
                        <thead>
                            <tr class="align-middle" style="height:70px;">
                                <th style="width: 100px;">문의 유형</th>
                                <th>문의 / 답변</th>
                                <th style="width: 150px;">작성자</th>
                                <th style="width: 200px;">작성일</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:if="${qnaList.isEmpty()}">
                                <td colspan="4" style="height: 100px"><h5>등록된 문의 사항이 없습니다.</h5></td>
                            </tr>
                            <tr th:unless="${qnaList.isEmpty()}" th:each="qna : ${qnaList}">
                                <td th:text="${qna.qnaType.value}"></td>
                                <td class="qna-title-box">
                                        <input type="hidden" class="qnaId" th:value="${qna.id}" />
                                        <input type="hidden" class="qnaContent" th:value="${qna.content}" />
                                        <span style="margin-left:90px;">
                                            <a style="color: cornflowerblue; border: 1px solid lightgray;" th:if="${qna.postType.name().equals('QNA')}">미완료</a> <!-- 답변 미료시 -->
                                            <a style="color: cornflowerblue; background: lightblue; border: 1px solid cornflowerblue;" th:if="${qna.postType.name().equals('COMPLETED')}">답변 완료</a> <!-- 답변 완료시 -->
                                        </span>
                                        <span th:text="${qna.title}" style="font-weight: bold"></span>
                                </td>
                                <td th:text="${qna.member.id}"></td>
                                <td th:text="${#strings.substring(qna.createdTime, 0, 10)}"> 작성일 </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="qna-footer">
                    <div id="qna-btns">
                        <a id="qna-write-btn" style="cursor: pointer" onclick="showQnaPopUp()" target = "_blank">상품 문의하기</a>
                    </div>
                    <div id="qna-paging-area">
                        <div th:if="${!qnaList.isEmpty()}" class="paging-btn-box">
                            <div th:each="qnaPage : ${#numbers.sequence(qnaStartPage, qnaEndPage)}">
                                <a th:if="${qnaPage != qnaNowPage}" style="cursor: pointer" th:onclick="|location.href='@{/item/}' + ${item.id} + '?qna_page=' + ${qnaPage - 1} + '#qna-container' |" th:text="${qnaPage}"></a>
                                <strong th:if="${qnaPage == qnaNowPage}" style="color:black" th:text="${qnaPage}"></strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--   footer start   -->
        <th:block th:replace="main/footer :: footer"></th:block>
        <!--   footer end   -->
    </div>

    <!--  modal start  -->
        <div class="modal cart-modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">장바구니</h5>
                        <button type="button" class="btn-close"
                                data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <p id="cartText">장바구니에 추가 되었습니다.</p>
                        <div class="form-group">
                            <div class="starrr"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-secondary"
                                data-bs-dismiss="modal">쇼핑 계속하기</button>
                        <button type="button"
                                class="btn-primary tocart-btn">장바구니로</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal coupon-modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">쿠폰 받기</h4>
                        <button type="button" class="btn-close"
                                data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body usable-coupon-list">
                            <div class="usable-coupon" th:if="${couponList.size != 0}" th:each="coupon : ${couponList}">
                                <input type="hidden" class="couponId" th:value="${coupon.id}" />
                                <div class="discount-rate-box" th:if="${coupon.discountRate < 100}" th:text="${coupon.discountRate} + '%'"></div>
                                <div class="discount-rate-box" th:unless="${coupon.discountRate < 100}" th:text="${#numbers.formatInteger(coupon.discountRate, 3, 'COMMA') } + ' 원'"></div>
                                <div class="coupon-name" th:text="${coupon.name}"></div>
                                <div class="coupon-condition" th:text="${#numbers.formatInteger(coupon.minOrderPrice, 3, 'COMMA')} + '원 이상 구매시' + '(~' + ${#strings.substring(coupon.expireDate, 0, 10)} + ')'"></div>
                            </div>
                            <div th:unless="${couponList.size != 0}">
                                <p>사용 가능한 쿠폰이 없습니다.</p>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button th:if="${couponList.size != 0}" type="button" class="btn-primary" id="get-coupon-btn">모두 받기</button>
                        <button type="button" class="btn-primary" data-bs-dismiss="modal">확인</button>
                    </div>
                </div>
            </div>
        </div>
    <!--  modal end  -->

<!--<script src="/js/itemdetail.js"></script>-->
<script th:inline="javascript">
    /*<![CDATA[*/

    var header = $("meta[name='_csrf_header']").attr('content');
    var token = $("meta[name='_csrf']").attr('content');

    /* 구매수량 변화 감지, 남은 재고수량 이상으로 장바구니 혹은 결제 안되게 뷰단에서 처리 */
    // 페이지에 나와있는 상품 재고 초과하여 카운트 up 시 alert 출력
    $(".countBox").on('propertychange change keyup paste input', function() {
        let currentVal = $('#orderQuantity').val();
        let stock = [[${item.itemStock}]];
        console.log(currentVal);
        if(currentVal > stock) {
            alert('주문 가능한 수량을 초과 하였습니다.');
            $('#orderQuantity').val(stock);
        }
        if(stock === 0) {
            alert(`품절된 상품입니다`);
        }
    });

    $('#cartBtn').on('click', function() {
        let cartItem = {
            itemDto : [[${item}]],
            quantity : document.getElementById('orderQuantity').value
        };

        $.ajax({
            url: "/cart",
            type: "POST",
            data: JSON.stringify(cartItem),
            contentType: 'application/json; charset=UTF-8',
            dataType: 'text',
            beforeSend: function(xhr) {
                xhr.setRequestHeader(header, token)
            },
            success: function(result) {
                alert(result);
                // document.getElementById("cartText").innerText = result;
                // const modal = new bootstrap.Modal(document.querySelector('.cart-modal'));
                // modal.show();
            }
        })
    })
    // 장바구니 추가 버튼 메소드
    function cartBtn() {

        // if([[${session.loginMember}]] == null) {
        //     alert('로그인을 해주세요')
        //     location.href='/login';
        // }

        // let cartItem = {
        //     itemDto : [[${item}]],
        //     quantity : document.getElementById('orderQuantity').value
        // };
        //
        // $.ajax({
        //     url: "/cart",
        //     type: "POST",
        //     data: JSON.stringify(cartItem),
        //     contentType: 'application/json; charset=UTF-8',
        //     dataType: 'text',
        //     success: function(result) {
        //         // document.getElementById("cartText").innerText = result;
        //         // const modal = new bootstrap.Modal(document.querySelector('.cart-modal'));
        //         // modal.show();
        //     }
        // })
    }

    // 개별상품 주문 이벤트 메소드
    $('#orderBtn').click(function () {

        // if([[${session.loginMember}]] == null) {
        //     alert('로그인을 해주세요')
        //     location.href = '/login';
        // }

        let data = {
            quantity : $('#orderQuantity').val(),
            itemDto : [[${item}]]
        }

        $.ajax({
            url : "/order",
            type: "POST",
            contentType: "application/JSON; charset=UTF-8;",
            data: JSON.stringify(data),
            dataType: "text",
            beforeSend: function(xhr) {
                xhr.setRequestHeader(header, token)
            },
            success: function (itemStockFlag) {
                if (itemStockFlag) {
                    location.href="/order?itemId=" + data.itemDto.id + "&quantity=" + data.quantity;
                } else {
                    alert("상품이 품절 되었습니다.");
                }
            },
            error: function(error) {
                console.log(error);
            }
        })
    })

    $('#usable-coupon-box').click(function() {
        const modal = new bootstrap.Modal(document.querySelector('.coupon-modal'));
        modal.show();
    })
    // 모달창 장바구니 버튼 이벤트 메소드
    $('.tocart-btn').click(function() {
        location.href='/cart';
    })

    $(".comment-input-container").on("focus", function () {
        $(".comment-input-area").css("height", "100px");
    });

    // 댓글란 토글
    function commentAreaToggle() {
        $(".comment-input-area").css("height", "100px");
    }

    // 상품 구매 후기 만족도 조사 이벤트
    // window.onload = function() {
    $(document).ready(function() {

        // 리뷰 작성자의 별 점수 출력 이벤트
        $('.review-star-value').each(function() {
            $(this).html('★'.repeat($(this).next('input[type="hidden"]').val()));
        })

        let starMap = [[${starValMap}]];
        let size = [[${starValMap[0]}]]
        let sum = 0;
        let originalPercentage;
        let roundedPercentage;
        let progressDomList = document.querySelectorAll('.progress-bar');
        let percentageDomList = document.querySelectorAll('.percentage');

        console.log("starMap" + starMap);

        if (size === 0) {
            $('#satisfied-rate').html("아직 리뷰가 등록되지 않은 상품입니다.");
            $('#satisfied-rate').next().html("");
            for (let i = 0; i <= 4; i++) {
                percentageDomList[i].innerHTML = "0%";
            }
        } else {
            $('#satisfied-rate').html(getSatisfiedRate(starMap) + '%');
            for(let i=1; i<=5; i++) {
                originalPercentage = starMap[i] / size * 100.0;
                progressDomList[5-i].style.width = originalPercentage + '%';
                roundedPercentage = Math.round(originalPercentage);
                percentageDomList[5-i].innerHTML = roundedPercentage + "%";
                sum += roundedPercentage;
            }
        }

        console.log("map : " + starMap);
        console.log('mapSize = ' + size);
        console.log(starMap[1])

        // for (let i = 1; i <= 5; i++) {
        //     size += starMap[i];
        //     console.log("starMap["+i+"] : " + starMap[i])
        // }

        starMap = 0;
        size = 0;
    })

    // 상품후기 긍정 평가 비율 계산 이벤트
    function getSatisfiedRate(scoreMap) {
        return Math.round((scoreMap[4] / scoreMap[0] * 100.0) + (scoreMap[5] / scoreMap[0] * 100.0))
    }

    // 사용 가능한 쿠폰 받기 이벤트
    $('#get-coupon-btn').on('click', function() {

        if ([[${session.loginMember}]] == null) {
            alert('로그인을 해주세요')
            location.href='/login';
        }

        let couponIdList = $('.usable-coupon-list').find('input[type="hidden"]').map(function() {
            return this.value;
        }).get();

        let data = {
            "memberId" : [[${session.loginMember}]].id,
            "couponIdList" : couponIdList
        }

        $.ajax({
            url: '/member/coupon',
            type: 'POST',
            contentType: 'application/json; charset=UTF-8;',
            data: JSON.stringify(data),
            dataType: 'text',
            beforeSend: function(xhr) {
                xhr.setRequestHeader(header, token)
            },
            success(data) {
                console.log(data);
                alert(data);
            },
            error(error) {
                console.log(error);
                alert(error);
            }
        })
    })

    // 상품 좋아요 click 이벤트
    function itemLike() {

        // 좋아요 이벤트 시 필요한 데이터
        // 해당 타겟 id(리뷰? 아이템?)
        // 로그인 사용자 id
        // 좋아요 타겟(리뷰? 아이템?)

        let clickedElement = $(this);
        let memberDto = [[${session.loginMember}]];
        // let itemId = $(this).parent().find('input[type="hidden"]').val();

        if ([[${session.loginMember}]] == null) {
            alert('로그인을 해주세요');
            location.href = '/login';
            return;
        }

        let data = {
            "itemDto" : [[${item}]],
            "memberDto" : memberDto,
        };

        $.ajax({
            url: '/item/like',
            type: 'POST',
            contentType: 'application/json; charset=UTF-8',
            dataType : 'JSON',
            data: JSON.stringify(data),
            beforeSend: function(xhr) {
                xhr.setRequestHeader(header, token)
            },
            success(result) {
                console.log(result);
                clickedElement.parent().find('div.like-counts').html(result.count);
                clickedElement.parent().css('background-color', result.backgroundColor);
            },
            error(result) {
                console.log(result)
            }
        })
    }

    $('.item-thumbs-up').click(itemLike);
    // $('.review-thumbs-up').click(like);

    function showQnaPopUp() {

        let loginMember = [[${session.loginMember}]];

        if (loginMember === null) {
            alert('로그인을 해주세요')
            location.href = '/login';
        } else {
            let url = "/item/" + [[${item.id}]] + "/inquiries/form";
            let name = "qna-popup";
            let option = "width = 800, height: 400, top = 100, left = 100, location = no";

            window.open(url, name, option);
        }
    }

    $('.qna-title-box').on('click', function() {

        console.log("clicked");

        const qnaDetailBox = $('#qna-table').find('tr[id="qnaDetail"]');
        const eventDom = $(this);

        if (qnaDetailBox.length > 0) {
            qnaDetailBox.remove();
            requestQnaDetail(eventDom)
        } else {
            requestQnaDetail(eventDom)
        }
    });

    function requestQnaDetail(e) {
        let targetDom = e.parent();
        let qnaId = e.find('input[class="qnaId"]').val();
        let content = e.find('input[class="qnaContent"]').val();

        targetDom.after(`<tr id='qnaDetail' style='display: table-row'>
                        <td colspan='4' class='qna-answer-box' style='min-height: 100px; display: table-cell'>
                            <div class='qna-question' style="display: flex">
                                <span class='question-img' style='height: 80px;
                                width: 80px;
                                margin-left: 10px;
                                background-size: 100%;
                                background-repeat: no-repeat;
                                background-position: center;
                                background-image: url(https://cdn.icon-icons.com/icons2/643/PNG/512/q-letter-single-brand-social-media_icon-icons.com_59312.png);'></span>
                                <span style="margin-left: 100px">` + content + `</span>
                            </div>
                        </td>
                    </tr>`)
    }

    function createCommentRow(responseData) {
        let commentCardsDom = $('<div class="comment-cards"></div>')
        
        let centerBoxDom = $('<div class="comment-center-box"></div>')
        let likeBoxDom = $('<div class="comment-like-box"></div>')
        let btnDom = $('<div style="display: flex; align-items: center; justify-content: space-evenly"></div>')

        let createdTimeDom = $('<div class="comment-created-time"> ' + responseData.createdTime.slice(0,10) + '</div>')
        let optionBtnDom = $('<div class="comment-option-btns"></div>')
        let writerIdDom = $('<div class="comment-writer-id"></div>')
        let contentBoxDom = $('<div class="comment-content-box"></div>')

        let updateBtnDom = $('<a class="comment-update-btn"></a>')
        let deleteBtnDom = $('<a class="comment-delete-btn"></a>')
        let thumbsUpDom = $('<div class="comment-thumbs-up"></div>')
        let titleDom = $('<div class="comment-title-box">' + '좋아요' + '</div>')
        let likeCountsDom = $('<div class="comment-like-counts"></div>')
        let commentIdDom = $('<input type="hidden" class="comment-id"/>')

        let updateBtn = $('<div>수정</div>')
        let deleteBtn = $('<div>삭제</div>')

        //     < div
        // className = "comment-created-time"
        // th:text = "${#strings.substring(comment.createdTime, 0, 10)}" > < /div>

        // <div className="comment-option-btns" th:if="${session.loginMember.id eq comment.memberDto.id}">
        //     <a className="comment-update-btn">
        //         <div>수정</div>
        //     </a>
        //     <a className="comment-delete-btn">
        //         <div>삭제</div>
        //     </a>
        //     <input type="hidden" th:value="${comment.id}"/>
        // </div>

        writerIdDom.html(responseData.memberDto.id);
        contentBoxDom.html(responseData.content);
        likeCountsDom.html(responseData.likesCount);
        titleDom.html('좋아요');
        commentIdDom.val(responseData.id);

        updateBtnDom.append(updateBtn);
        deleteBtnDom.append(deleteBtn);

        optionBtnDom.append(updateBtnDom, deleteBtnDom);

        centerBoxDom.append(writerIdDom, contentBoxDom);
        likeBoxDom.append(thumbsUpDom, titleDom, likeCountsDom, commentIdDom);
        btnDom.append(createdTimeDom, optionBtnDom);

        commentCardsDom.append(centerBoxDom, likeBoxDom, btnDom);
        return commentCardsDom;

        // <div className="comment-cards" th:each="comment : ${review.commentList}">
        //     <div className="comment-center-box">
        //         <div className="comment-writer-id" th:text="${comment.memberDto.id}"></div>
        //         <div className="comment-content-box" th:text="${comment.content}"></div>
        //     </div>
        //     <div className="comment-like-box">
        //         <div className="comment-thumbs-up"></div>
        //         <div className="comment-like-counts" th:text="${comment.likesCount}"></div>
        //         <input type="hidden" th:value="${comment.id}"/></div>
        //     <div className="comment-created-time" th:text="${#strings.substring(comment.createdTime, 0, 10)}"></div>
        // </div>
    }

    // 댓글 작성 이벤트
    $('.comment-write-btn').on('click', function() {
        let loginMember = [[${session.loginMember}]];

        if (loginMember === null) {
            alert('로그인을 해주세요');
            location.href = "/login";
        }

        let inputDom = $(this).prev();
        let reviewId = $(this).parent().find('input[type="hidden"]').val();
        let data = {
            memberDto : loginMember,
            content : inputDom.val(),
            reviewId: reviewId
        }
        const url = "/review/comment"
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type' : 'application/json',
                "X-CSRF-Token" : token
            },
            body: JSON.stringify(data)
        })
            .then(response => {
                if (response.status === 200) {
                    return response.json();
                } else {
                    new Promise.reject();
                }
            })
            .then(data => {
                inputDom.val('');
                $('.comment-output-container').prepend(createCommentRow(data));
            })
    })

    // 댓글 수정 이벤트
    $(document).on('click', '.comment-update-btn', function() {
        let eventDom = $(this);
        let commentCardDom = $(this).parent().parent().parent();
        let originContent = commentCardDom.find('div[class="comment-content-box"]').html();

        eventDom.parent().prepend($('<a style="text-decoration: none; cursor: pointer" id="comment-update-btn">수정하기</a>'))
        eventDom.remove();

        commentCardDom.find('div[class="comment-content-box"]').remove();
        commentCardDom.children().first().append($('<textarea type="textarea" class="form-control comment-modify-area" name="modifyContent" onfocus="commentAreaToggle()">' + originContent + '</textarea>'))
    })

    // 댓글 수정 이벤트 2
    $(document).on('click', '#comment-update-btn', function() {

        const url = '/review/comment';
        let eventDom = $(this);
        let modifyContent = eventDom.parent().parent().parent().find('textarea').val();
        let commentId = $(this).parent().find('input[type="hidden"]').val();

        console.log('eventDom : ', eventDom);
        console.log("modifyContent : ", modifyContent);

        if (modifyContent === null || modifyContent === '') {
            alert('내용을 입력 해 주세요');
            return;
        }

        fetch(url, {
            method: 'PATCH',
            headers: {
                'Content-Type' : 'application/json',
                'X-CSRF-Token' : token
            },
            body: JSON.stringify({
                'id' : commentId,
                "modifyContent" : modifyContent
            })
        })
            .then(result => {
                if (result.status === 200) {
                    return result.json();
                }
                console.log(result);
            })
            .then(data => {
                alert(data.message);
                $('.comment-modify-area').remove();
                eventDom.parent().prepend($('<a class="comment-update-btn"><div>수정</div></a>'));
                eventDom.parent().parent().parent().children().first().append($('<div class="comment-content-box">' + data.content + '</div>'))
                eventDom.remove();
            })
    })

    // 댓글 삭제 이벤트
    $('.comment-delete-btn').on('click', function() {

        let agreeToDelete = confirm('댓글을 삭제 하시겠습니까?');

        if (!agreeToDelete) {
            return;
        }

        const eventDom = $(this);
        const url = '/review/comment'
        let commentId = eventDom.parent().find('input[type="hidden"]').val();

        fetch(url, {
            method: 'DELETE',
            headers: {
                'Content-Type' : 'application/json',
                'X-CSRF-Token' : token
            },
            body: JSON.stringify({
                'id' : commentId
            })
        })
            .then(response => {
                if (response.status === 200) {
                    return response.json();
                }
            })
            .then(data => {
                alert(data.message)
                let commentId = data.id;
                eventDom.parent().parent().parent().remove();
            })
    })


    // 리뷰 좋아요 이벤트
    $('.review-thumbs-up').on('click', function() {

        let clickedElement = $(this);
        let memberDto = [[${session.loginMember}]];

        if (memberDto === null) {
            alert('로그인을 해주세요');
            location.href = '/login';
        }

        let reviewId = $(this).parent().find('input[class="review-id"]').val()
        console.log("reviewDto : ", reviewId);

        const url = '/item/like';

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type' : 'application/json',
                'X-CSRF-Token' : token
            },
            body: JSON.stringify({
                'memberDto' : memberDto,
                'reviewId' : reviewId
            })
        })
            .then(response => {
                if (response.status === 200) {
                    return response.json();
                }
            })
            .then(data => {
                clickedElement.parent().find('div.like-counts').html(data.count);
                clickedElement.parent().css('background-color', data.backgroundColor);
            })
    })

    // 댓글 좋아요 이벤트
    $(document).on('click', '.comment-thumbs-up', function() {

        let clickedElement = $(this);
        let commentId = clickedElement.parent().find('input.comment-id').val();
        let memberDto = [[${session.loginMember}]];
        const url = '/item/like'

        fetch(url, {
            method : 'POST',
            headers : {
                'Content-Type' : 'application/json',
                'X-CSRF-Token' : token
            },
            body: JSON.stringify({
                'memberDto' : memberDto,
                'commentId' : commentId
            })
        })
            .then(response => {
                if (response.status === 200) {
                    return response.json();
                }
            })
            .then(data => {
                clickedElement.next().next().html(data.count);
                clickedElement.parent().css('background-color', data.backgroundColor);
            })
    })

    window.onload = function() {
        const url = window.location.href;
        let reviewId;

        if (url.includes("qna-container")) {
            // let startIndex = url.indexOf('=')
            // reviewId = url.slice(startIndex + 1);
            let scrollTarget = document.getElementById('qna-container');
            scrollTarget.scrollIntoView();
        }
    }
</script>
</body>
</html>