<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="main/mainpage">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        #order-success-wrapper {
            margin: 50px 50px 50px 50px;
            text-align: center;
        }
        #order-success-body {
            width: 400px;
            text-align: initial;
            margin: 0 auto;
        }
        #order-success-body div {
            justify-content: space-between;
            display: flex;
            height: 40px;
            width: 400px;
            text-align: initial;
        }
    </style>
</head>
<body>
<div layout:fragment="content">

    <section id="order-success-wrapper">
        <div id="order-success-container">
            <div id="order-success-header">
                <h4>주문이 완료되었습니다. </h4>
                <h3>주문 내역서는 메일에서도 확인 가능합니다. </h3>
            </div>
            <div id="order-success-body">
                <div id="order-item-name-box">
                    <span>주문 상품</span><span th:text="${orderResult.item_name}"></span>
                </div>
                <div id="order-item-quantity-box">
                    <span>결제 수단</span><span th:text="${orderResult.payment_method_type}"></span>
                </div>
                <div id="total-price-box">
                    <span>결제 금액</span><span th:text="${#numbers.formatInteger(orderResult.amount.total, 3, 'COMMA') + ' 원 '}"></span>
                </div>
                <div id="discount-box">
                    <span>할인 금액</span>
                    <span th:if="${totalDiscount <= 999}" th:text="${totalDiscount + ' 원 '}"></span>
                    <span th:unless="${totalDiscount <= 999}" th:text="${#numbers.formatInteger(totalDiscount, 3, 'COMMA') + ' 원 '}"></span>
                </div>
                <div id="order-created-time-box">
                    <!--/*<span>결제 승인 시각</span><span th:text="${orderResult.approved_at}"></span>*/-->
                    <span>결제 승인 시각</span><span th:text="${#strings.replace(orderResult.approved_at, 'T', ' ')}"></span>
                </div>
            </div>
            <a th:href="@{/}">홈으로</a>
        </div>
    </section>
</div>
</body>
</html>