<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="main/mainpage">
  <head>
    <meta charset="UTF-8">
    <title>OrderFromCart</title>
    <link rel="stylesheet" href="/css/order-fromcart.css" />

    <style>
      .order-item-img-box {
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        width: 100px;
        height: 100px;
      }
    </style>
  </head>
  <body>
  <div layout:fragment="content">
  <nav id="navbar-example2" class="navbar bg-light px-3 mb-3">
    <a class="navbar-brand" href="#"> 주문서 </a>
    <ul class="nav nav-pills">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-outline-dark" id="to-cart-btn">01 장바구니</button>
        <button type="button" class="btn btn-dark">02 주문서</button>
        <button type="button" class="btn btn-outline-dark" disabled>03 결제완료</button>
      </div>
    </ul>
  </nav>

  <div id="order-wrapper">
    <div id="order-container">
      <div id="order-info-box">
        <div id="delivery-info">
          <div class="delivery-title underline">
            <h2> 배송 정보 </h2>
          </div>
          <div class="customer-name">
            <h5 id="buyer-name" th:text="'주문자 : ' + ${session.loginMember.getName()}"></h5>
          </div>
          <div class="delivery-address">
            <h5 id="buyer-address" th:text="'배송지 주소 : ' + ${session.loginMember.getAddress()}"></h5>
          </div>
        </div>
        <div id="order-item-box">
          <div class="order-list-header underline align-middle">
            <p>상품수량 및 옵션변경은 상품 상세페이지 또는 장바구니에서 가능합니다.</p>
          </div>
          <div class="order-item-list">
            <table class="table align-middle table-hover">
              <thead>
                <tr><td colspan="4"><h3>주문서</h3></td></tr>
                <tr><td></td><td><h4>상품명</h4></td><td><h4>수량</h4></td><td><h4>총 금액</h4></td></tr>
              </thead>
              <tbody>
                <th:block th:if="${orderQuantity == null}">
                  <tr class="order-items" th:each="orderItemList : ${orderItemList}">
                    <td class="order-item-img">
                        <div class="order-item-img-box" th:style="'background-image: url('+ ${orderItemList.getItemDto().getThumbnailUrl()} + ');'"></div>
                    </td>
                    <td class="item-name" th:text="${orderItemList.itemDto.name}"></td>
                    <td class="item-qty" th:text="${orderItemList.quantity}"></td>
                    <td class="item-price" th:text="${#numbers.formatInteger(orderItemList.getQuantity() * orderItemList.itemDto.price, 3, 'COMMA')}"></td>
                    <input type="hidden" class="order-item-id" th:value="${orderItemList.getItemDto().getId()}" />
                    <input type="hidden" class="cart-item-id" th:value="${orderItemList.getId()}" />
                  </tr>
                </th:block>
                <th:block th:unless="${orderQuantity == null}">
                  <tr class="order-items">
                      <td class="order-item-img">
                        <div class="order-item-img-box" th:style="'background-image: url('+ ${itemDto.getThumbnailUrl()} + ');'"></div>
                      </td>
                      <td class="item-name" th:text="${itemDto.name}"></td>
                      <td class="item-qty" th:text="${orderQuantity}"></td>
                      <td class="item-price" th:text="${#numbers.formatInteger(orderQuantity * itemDto.price, 3, 'COMMA')}"></td>
                    <input type="hidden" class="order-item-id" th:value="${itemDto.getId()}" />
                  </tr>
                </th:block>
              </tbody>
            </table>
          </div>
          <div id="point-box">
            <div class="point-header underline">
              <h2>할인/포인트</h2>
              <h5>50000원 이상 구매시 배송비 무료</h5>
            </div>
          </div>
        </div>
      </div>
      <div id="order-side-bar">
        <div id="order-sbar-wrapper">
          <div id="side-bar-header" class="underline">
            <span><h4>적립예정</h4></span><span id="point-reward"></span>
          </div>
          <div id="side-bar-body">
            <div class="sbar-body-header">
              <h4>결제 예정금액</h4>
            </div>
            <div>
              <div class="order-detail-box"><span>상품금액</span><span id="total-item-price"></span></div>
              <div class="order-detail-box"><span>배송비</span><span id="delivery-fee"></span></div>
              <div class="order-detail-box"><span>할인금액</span><span id="discount-rate"></span></div>
            </div>
            <div>
              <div class="underline payment-amount-box"><span>합계</span><span><h1 id="payment-amount"></h1></span></div>
            </div>
          </div>
          <div id="side-bar-footer" class="align-middle">
            <button type="button" id="btn-kakao-pay"  class="btn btn-danger" style="width:100%; height: 40px;">카카오페이 결제</button>
            <button type="button" id="coupon-btn"  class="btn btn-danger" style="width:100%; height: 40px;">쿠폰 사용</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script th:inline="javascript">
    /*<![CDATA[*/

    $('#to-cart-btn').click(function () {
      location.href = '/cart';
    })

    // 콤마 제거 메소드
    function removeComma(price) {
      return price.replace(/,/g, '').replace(/\D/g, '');
    }

    // 콤마 추가 메소드
    function addCommas(price) {
      return price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    // 배송료 계산
    function setDeliveryFee(totalPrice) {
      return totalPrice >= 50000 ? 0 : 3000;
    }

    // 할인금액 계산
    function calculateDiscountAmount() {
      return 0;
    }

    // 포인트 적립금 계산
    function calculateRewardAmount(totalPrice) {
      return ((totalPrice * 3) / 100) + ' point';
    }

    // 최종 결제금액 계산
    function setPrice() {
      let totalPrice = 0;

      $('.item-price').each(function() {
        totalPrice += parseInt(removeComma($(this).html()));
      })

      $('#total-item-price').html(addCommas(totalPrice) + ' 원');
      $('#delivery-fee').html(addCommas(setDeliveryFee(totalPrice) + ' 원'));
      $('#discount-rate').html(addCommas(calculateDiscountAmount() + ' 원'));

      let paymentAmount = totalPrice + setDeliveryFee(totalPrice) - calculateDiscountAmount();
      $('#payment-amount').html(addCommas(paymentAmount) + ' 원');
      $('#point-reward').html(addCommas(calculateRewardAmount(paymentAmount)));

    }

    $(document).ready(function() {
      setPrice();
    })


    $('#btn-kakao-pay').on('click', function(){

      // 필수입력값을 확인.
      let name = [[${session.loginMember.id}]];
      const tel = "010-1234-5678";
      let email = [[${session.loginMember.email}]];
      let usePoint = calculateDiscountAmount();
      let size = $('.order-items').length;
      let itemName = $('.item-name').first().html();
      let finalPaymentAmount = removeComma($('#payment-amount').html());
      let itemCodeArray = $('.order-item-id');
      let itemQtyArray = $('.item-qty');
      let cartIdArray = $('.cart-item-id');

      let itemQtys = "";
      let itemIds = "";
      let cartItemIds = "";

    if(itemCodeArray.length === 1) {
      itemIds += itemCodeArray[0].value;
      cartItemIds += cartIdArray[0].value;
      itemQtys += itemQtyArray[0].innerText;
    } else {
      for(let i=0; i<itemCodeArray.length-1; i++) {
        cartItemIds += cartIdArray[i].value + "/"
        itemIds += itemCodeArray[i].value + "/"
        itemQtys += itemQtyArray[i].innerText + "/"
      }
      itemIds += itemCodeArray[itemCodeArray.length-1].value;
      cartItemIds += cartIdArray[cartIdArray.length-1].value;
      itemQtys += itemQtyArray[itemQtyArray.length-1].innerText;
    }
    // 각 구매 품목의 상품 id를 담을 list

    console.log("totalPayPrice : " + finalPaymentAmount);
    console.log("name : " + name);
    console.log("size.length : " + size);
    console.log("itemName[0].itemName : " + itemName);
    console.log("totalPayPrice : " + finalPaymentAmount);
    console.log("tel : " + tel);
    console.log("email : " + email);
    console.log("usePoint : " + usePoint);
    console.log("itemIds : " + itemIds);
    console.log("cartItemIds : " + cartItemIds);
    console.log("itemQtys : " + itemQtys);

    let data = {
        name,
        size,
        itemName,
        finalPaymentAmount,
        tel,
        email,
        usePoint,
        itemIds,
        itemQtys,
        cartItemIds
    }

    // 카카오페이 결제전송
      $.ajax({
        type:'POST'
        ,url:'/order/kakaopay'
        ,data: JSON.stringify(data)
        ,contentType: "application/json; charset=UTF-8"
        ,success:function(response){
          console.log(response);
          location.href = response.next_redirect_pc_url;
        }
        , error: function (error) {
          console.log(error);
          alert(error);
        },
      })
    })

  </script>
  </div>
  </body>
</html>
