<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link rel="stylesheet" href="/css/footer.css" />
</head>
<th:block th:fragment="footer">
    <section id="footer-wrapper">
        <div id="footer-container">
            <div class="footer-left-box">
                <div class="footer-font-box">ABOUT</div>
                <div class="footer-font-box">HELP</div>
                <div class="footer-font-box">LEGAL</div>
                <div class="footer-font-box">INSTAGRAM</div>
                <div class="footer-font-box">FACEBOOK</div>
            </div>
            <div class="footer-right-box">
                <div class="footer-right-font">© GREAM</div>
            </div>
        </div>
    </section>
</th:block>
</html>