<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="mypage/admin/admin-main">
<head>
    <title>쿠폰 발급 UI</title>
    <link rel="stylesheet" href="/css/create-coupon.css"/>
</head>
<body>
<th:block layout:fragment="content">
<div id="coupon-create-wrapper">
    <div id="coupon-create-container">
        <div class="coupon-create-header">
            <h2>쿠폰 생성</h2>
        </div>

        <table class="table align-middle text-center">
            <form action="/couponTest" method="POST">

            <tr>
                <td>쿠폰 타입</td>
                <td>
                    <select class="form-select" id="couponType" required="">
                        <option value="ordinaryCoupon">일반 쿠폰</option>
                        <option value="specialCoupon">특별 쿠폰</option>
                    </select>
                    <!-- 타입 2가지.
                      일반쿠폰 : 상품 상세 페이지 진입 후 누구나 다운로드 할 수 있는 쿠폰.
                      특별쿠폰 : 사용자에게 지급되어 상품 결제 시 사용 가능한 쿠폰.
                    -->
                </td>
            </tr>
            <tr>
                <td>쿠폰명</td>
                <td>
                    <input type="text" class="coupon-inputs" id="couponName" name="couponName"/>
                </td>
            </tr>
            <tr>
                <td>할인율</td>
                <td>
                    <!--
                      할인율 100 이하 -> 퍼센트 할인
                      할인율 100 이상 -> 금액할인
                    -->
                    <input type="number" class="coupon-inputs" id="discountRate" name="discountRate"/>
                </td>
            </tr>
            <tr>
                <td>만료일</td>
                <td>
                    <input type="datetime-local" class="coupon-inputs" id="expireDate" name="expireDate"/>
                </td>
            </tr>
            <tr>
                <td>발급 개수</td>
                <td>
                    <input type="number" class="coupon-inputs" id="couponStock" name="quantity" />
                </td>
            </tr>
            <tr>
                <td>최소 주문 금액</td>
                <td>
                    <input type="number" class="coupon-inputs" id="minOrderPrice" name="minOrderPrice" />
                </td>
            </tr>
            <tr>
                <td>유효기간</td>
                <td>
                    <input type="number" class="coupon-inputs" id="validPeriod" name="validPeriod"/>
                    <!-- 발급일로부터 몇일후 까지 사용 가능한지 -->
                </td>
            </tr>
            <tr>
                <td>할인 적용 대상</td>
                <td>
                    <label for="outer" class="form-check-label">아우터</label>
                    <input type="checkbox" class="form-check-input" name="discountFor" value="outer" id="outer"/>
                    <label for="tshirts" class="form-check-label">티셔츠</label>
                    <input type="checkbox" class="form-check-input" name="discountFor" value="tshirts" id="tshirts"/>
                    <label for="sweatshirts" class="form-check-label">스웨트셔츠</label>
                    <input type="checkbox" class="form-check-input" name="discountFor" value="sweatshirts" id="sweatshirts"/>
                    <label for="shirts" class="form-check-label">셔츠</label>
                    <input type="checkbox" class="form-check-input" name="discountFor" value="shirts" id="shirts"/>
                    <label for="knit" class="form-check-label">니트</label>
                    <input type="checkbox" class="form-check-input" name="discountFor" value="knit" id="knit"/>
                    <label for="onepiece" class="form-check-label">원피스</label>
                    <input type="checkbox" class="form-check-input" name="discountFor" value="onepiece" id="onepiece"/>
                    <label for="bottoms" class="form-check-label">하의</label>
                    <input type="checkbox" class="form-check-input" name="discountFor" value="bottoms" id="bottoms"/>
                    <label for="shoes" class="form-check-label">신발</label>
                    <input type="checkbox" class="form-check-input" name="discountFor" value="shoes" id="shoes"/>
                    <label for="accessories" class="form-check-label">악세사리</label>
                    <input type="checkbox" class="form-check-input" name="discountFor" value="accessories" id="accessories"/>
                </td>
            </tr>
            </form>
        </table>
        <div id="coupon-btn-box">
            <a id="couponBtn">쿠폰 생성</a>
        </div>
    </div>
</div>

<script>

    $('#couponBtn').on('click', function() {

        let couponType = $('#couponType').val();
        let couponName = $('#couponName').val();
        let discountRate = $('#discountRate').val();
        let expireDate = $('#expireDate').val();
        let couponStock = $('#couponStock').val();
        let minOrderPrice = $('#minOrderPrice').val();
        let validPeriod = $('#validPeriod').val();
        let discountFor = $('input:checkbox[name=discountFor]:checked').map(function() {
            return this.value;
        }).get();

        let data = {
            couponType,
            couponName,
            discountRate,
            expireDate,
            couponStock,
            minOrderPrice,
            validPeriod,
            discountFor
        }

        console.log(data);

        $.ajax({
            url : '/coupon',
            type : 'POST',
            contentType: 'application/json; charset=UTF-8',
            dataType: 'text',
            data: JSON.stringify(data),
            success : function(result) {
                console.log(result);
                location.href = '/toCouponCreate';
            },
            error: function (error) {
                console.log('통신 실패' + error);
            },
        })
    })
</script>
</th:block>
</body>
</html>
