<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="main/mainpage">
<head>
  <link rel="stylesheet" href="/css/additional.css" />
</head>
<body>
<th:block layout:fragment="content">
  <div id="wrapper">
    <div id="container">
      <div id="additional-header">
        <h2>추가 정보를 입력 해 주세요</h2>
      </div>
      <form id="additional-information-form">
        <div class="additional-input-box">
          <label for="addressBox" class="form-label">주소를 입력 해 주세요</label>
          <input type="text" class="register-input" name="address" id="addressBox" placeholder="&nbsp;&nbsp;&nbsp;ADDRESS"/>
        </div>
        <div class="register-input-box">
          <label for="genderBox" class="form-label">성별을 선택 해 주세요</label>
          <input type="hidden" id="genderBox" />
          <div id="gender-input-wrapper">
            <div class="gender-input-container">
              <label for="man" class="form-label">Man</label>
              <input type="radio" class="gender-checkbox" name="gender" value="MAN" id="man" />
            </div>
            <div class="gender-input-container">
              <label for="woman" class="form-label">Woman</label>
              <input type="radio" class="gender-checkbox" name="gender" value="WOMAN" id="woman" />
            </div>
          </div>
        </div>
        <div class="btn-box">
          <a class="btn register-btn">저장</a>
        </div>
      </form>
    </div>
  </div>

  <script th:inline="javascript">

    var header = $("meta[name='_csrf_header']").attr('content');
    var token = $("meta[name='_csrf']").attr('content');

    $('.register-btn').on('click', function() {

      let address = $('#addressBox').val();
      let gender = $('.gender-checkbox:checked').val();

      console.log("address : ", address);
      console.log("gender : ", gender);

      if (address === "" || gender == null) {
        alert('모든 항목을 입력 해 주세요');
        return;
      }

      let data = {
        address : $('#addressBox').val(),
        gender: $('.gender-checkbox:checked').val()
      };

      $.ajax({
        url : '/member/additional_inform',
        type: 'POST',
        data: JSON.stringify(data),
        contentType: 'application/json',
        dataType: 'TEXT',
        beforeSend: function(xhr) {
          xhr.setRequestHeader(header, token)
        },
        success: function(result) {
          if (result === "추가정보 입력 완료.") {
            alert(result + "다시 로그인 해주세요.")
            location.href='/logout';
          } else {
            alert(result)
          }
        },
        error: function (request, status, error) {
          alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
        }
      })
    })
  </script>
</th:block>
</body>
</html>