<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="main/mainpage">
<head>
  <link rel="stylesheet" href="/css/register.css" />
</head>
<th:block layout:fragment="content">
  <body>
  <section>
    <div id="register-wrapper">
      <div id="register-container">
        <div class="register-header">REGISTRATION</div>
        <div class="register-body">
          <div class="register-body-main">
            <div class="register-input-box">
              <label for="idBox" class="form-label">ID</label>
              <input type="text" class="register-input" name="id" id="idBox" placeholder="&nbsp;&nbsp;&nbsp;ID"/>
            </div>
            <div class="register-input-box">
              <label for="pwBox" class="form-label">Password</label>
              <input type="password" class="register-input" name="password" id="pwBox" placeholder="&nbsp;&nbsp;&nbsp;Password"/>
            </div>
            <div class="register-input-box">
              <label for="pwCheckBox" class="form-label" id="pwCheckLabel">Password Check</label>
              <input type="password" class="register-input" id="pwCheckBox" placeholder="&nbsp;&nbsp;&nbsp;Password Check"/>
            </div>
            <div class="register-input-box">
              <label class="form-label">Name<input type="text" class="register-input nameBox" id="nameBox" name="name" placeholder="&nbsp;&nbsp;&nbsp;Name"/></label>
            </div>
            <div class="register-input-box">
              <label for="addressBox" class="form-label">Address</label>
              <input type="text" class="register-input" name="address" id="addressBox" placeholder="&nbsp;&nbsp;&nbsp;Address"/>
            </div>
            <div class="register-input-box">
              <label class="form-label">Email<input type="text" class="register-input emailBox" id="emailBox" name="email" placeholder="&nbsp;&nbsp;&nbsp;Email"/></label>
            </div>
            <div class="register-input-box">
              <label for="genderBox" class="form-label">Gender</label>
              <input type="hidden" id="genderBox" />
              <div id="gender-input-wrapper">
                <div class="gender-input-container">
                  <label for="man" class="form-label">Man</label>
                  <input type="radio" class="gender-checkbox" name="gender" value="MAN" id="man" />
                </div>
                <div class="gender-input-container">
                  <label for="woman" class="form-label">Woman</label>
                  <input type="radio" class="gender-checkbox" name="gender" value="WOMAN" id="woman" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="register-validation-box">
          <div class="validation-header">비밀번호는</div>
          <div class="validation-body">
            <div class="validation-category">
              <div>
                <input type="checkbox" id="digitCheckBox" />
              </div>
              <div>최소 7자 이상의</div>
            </div>
            <div class="validation-category">
              <div><input type="checkbox" id="upperCheckBox" /></div>
              <div>영문 대문자와</div>
            </div>
            <div class="validation-category">
              <div><input type="checkbox" id="numberCheckBox" /></div>
              <div>숫자를 포함해야 합니다</div>
            </div>
            <div class="validation-category">
              <div><input type="checkbox" id="doubleCheckBox" /></div>
              <div>비밀번호 확인란 일치</div>
            </div>
          </div>
        </div>
        <div id="register-footer">
          <div class="register-btn-box" onclick="memberRegister()">
            <a class="btn register-btn" role="button" >CONFIRM</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>

    <!--    주말에 fetch 해보기    -->
    function memberRegister() {
      let member = {
        id : document.getElementById("idBox").value,
        password : document.getElementById("pwBox").value,
        name : document.getElementById("nameBox").value,
        address : document.getElementById("addressBox").value,
        email : document.getElementById("emailBox").value

      }

      if(!member.id || !member.password || !member.name || !member.address || !member.email)  {
        alert("모든 항목을 입력 해 주세요")
        location.href = "/join"
      } else {
        $.ajax({
          url : "/join",
          type : "POST",
          contentType : 'application/json',
          data : JSON.stringify(member),
          dataType : 'text',
          success : function(data) {
            console.log(data)
            if(data == 1) {
              alert("아이디 중복");
            } else if(data == 2) {
              alert("이메일 중복");
            } else if(data == 3) {
              alert("회원가입 성공");
              location.href="/"
            }
          },
          error : function(data) {
            alert ("ajax 통신 실패");
          }
        })
      }
    }
  </script>

  <script>

    function test() {
      console.log("success")
    }

    const numberRegex = /\d{1,}/; // 숫자 최소 1개 이상
    const upperRegex = /[A-Z]{1,}/; // 대문자 최소 1개 이상
    const digitRegex = /^.{7,}$/; // 아무거나 해서 7자 이상

    function checkboxToggle(str, regex, checkboxNode) {
      if (regex.test(str)) {
        $('input[type="checkbox"]#' + checkboxNode).prop("checked", true);
      } else {
        $('input[type="checkbox"]#' + checkboxNode).prop("checked", false);
      }
    }

    function pwCheckTest(pw, pwCheck) {
      const origin = $("#pwBox").css("border-bottom");

      if ((pw.value || pwCheck.value) != "" && pw.value === pwCheck.value) {
        $("#pwCheckBox").css("border-bottom", origin);
        $("#doubleCheckBox").prop("checked", true);
      } else {
        $("#pwCheckBox").css("border-bottom", "3px solid red");
        $("#doubleCheckBox").prop("checked", false);
      }
    }

    $("#pwBox").add($("#pwCheckBox"))
            .on("keyup", function () {
              let str = document.getElementById("pwBox");
              let pwCheckStr = document.getElementById("pwCheckBox");
              let checkBoxes = $('input[type="checkbox"]');

              checkboxToggle(str.value, numberRegex, "numberCheckBox");
              checkboxToggle(str.value, upperRegex, "upperCheckBox");
              checkboxToggle(str.value, digitRegex, "digitCheckBox");
              pwCheckTest(str, pwCheckStr);

              if (checkBoxes.filter(":checked").length == 4) {
                $("div#register-validation-box").css("display", "none");
              } else {
                $("div#register-validation-box").css("display", "block");
              }
            });

    // 숫자, 문자, 특수문자 포함해서 아무거나 7자리 이상
    // (정규표현식).test("문자열")	"문자열"이 "정규표현식"과 매칭되면 true, 아니면 false반환
    // 7자 이상, 대문자 1개 이상, 숫자 1개 이상
  </script>
  </body>
</th:block>
</html>
