<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="main/mainpage">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

  <style>
    #notice-write-header {
      margin-bottom: 80px;
    }
    #post-notice-write-wrapper {
      width: 80%;
      margin: 100px auto;
    }
    .title-box {
      margin-bottom: 30px;
    }
    .content-box {
      margin-bottom: 30px;
    }
    .btns-box {
      display: flex;
      justify-content: center;
    }
    #write-btn {
      cursor: pointer;
    }
  </style>
  <script
          src="https://cdn.tiny.cloud/1/cdf15won1fs9c5ru9n5lxfk3avmwa50323recy5jikyi23c4/tinymce/6/tinymce.min.js"
          referrerpolicy="origin"
  ></script>
  <script th:inline="javascript">
    tinymce.init({

      selector: '#notice-content',
      // setup: function (editor) {
      //   let postResponseDto =
      //   console.log('postResponseDto : ', postResponseDto);
      //
      //   if (postResponseDto != null) {
      //     editor.onLoadContent.add(function(editor,o) {
      //       editor.focus();
      //       tinymce.activeEditor.setContent(postResponseDto.postDto.content);
      //     })
      //   }
      // },
      setup: (editor) => {
        editor.on('init', (e) => {
          let content = "";
          let postResponseDto = [[${postResponseDto}]];

          if (postResponseDto != null) {
            content = postResponseDto.postDto.content;
          }
          editor.setContent(content);
        });
      }
    });

  </script>
</head>
<body>
  <th:block layout:fragment="content">
    <div id="post-notice-write-wrapper">
      <div id="post-notice-write-container">
        <form id="notice-form">
          <div id="notice-write-header">
            <h3 th:if="${postResponseDto == null}">공지사항 작성</h3>
            <h3 th:unless="${postResponseDto == null}">공지사항 수정</h3>
          </div>
          <div id="notice-write-body">
            <div class="title-box">
              <input th:if="${postResponseDto == null}"
                     type="text"
                     class="form-control"
                     th:id="notice-title"
                     name="noticeTitle"
                     placeholder="제목을 입력해 주세요" />
              <input th:unless="${postResponseDto == null}"
                     type="text"
                     class="form-control"
                     th:id="notice-title"
                     th:value="${postResponseDto.postDto.title}"
                     name="noticeTitle"
                     placeholder="제목을 입력해 주세요" />
            </div>
            <div class="content-box">
              <textarea class="form-control tiny"
                        id="notice-content"
                        name="noticeContent"
                        placeholder="내용을 입력해 주세요"
                        required>
              </textarea>
              <input class="form-control" type="file" id="noticeImgs" name="noticeImgs" multiple="multiple">
            </div>
          </div>
          <div id="notice-write-footer">
            <div class="btns-box">
              <a th:if="${postResponseDto eq null}" th:id="write-btn"> 작성 </a>
              <a th:unless="${postResponseDto eq null}" th:id="write-btn"> 수정 </a>
            </div>
          </div>
        </form>
      </div>
    </div>
    <script th:inline="javascript">

      $('#write-btn').on('click', function() {

        let data = {
          "noticeTitle" : $('#notice-title').val(),
          "noticeContent" : tinymce.get("notice-content").getContent(),
          "postType" : "NOTICE"
        }

        let form = $('#notice-form')[0];
        let formData = new FormData(form);

        formData.append('postRequestDto', new Blob([JSON.stringify(data)], {type : 'application/json'}));
        formData.append('noticeImgs', $('#noticeImgs'));

        console.log(JSON.stringify(data, null, 2));
        console.log("formData : ", formData);

        $.ajax({
          url: '/post/notice',
          type: 'POST',
          processData: false,
          contentType: false,
          data: formData,
          dataType: 'text',
          success: function (result) {
            alert(result)
            $('#notice-title').val("");
            tinymce.get("notice-content").setContent("");
          },
          error: function (request, status, error) {
            alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
          },
        })
      })
    </script>
  </th:block>
</body>
</html>