#cart-wrapper {
    width: 70%;
    margin: 0 auto;
    height: 900px;
    /*background: sandybrown;*/
    /* height 지우기. 유동적으로 늘어나게 */
}

#cart-container {
    display: flex;
    width: 100%;
}

#cart-content {
    position: relative;
    width: 70%;
    height: 450px;
    /*background: green;*/
}

#cart-side-bar {
    position: fixed;
    right: 0px;
    width: 30%;
    height: 450px;
    /*background: darksalmon;*/
}

.qtybox {
    display: block;
}

.cart-title{
    display: flex;
    justify-content: space-between;
}
.checkDelBox {
    display: flex;
    justify-content: space-between;
}
#checkedDelete {
    cursor: pointer;
}
.deleteBtn {
    cursor: pointer;
}
.cartItemImg {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 100px;
}
.updateBtn {
    cursor: pointer;
}