#item-wrapper {
    margin: 30px 30px 30px 30px;
}
#item-sidebar {
    min-width: 200px;
    margin-right: 50px;
}
#item-container {
    display: flex;
}
.sidebar-header {
    margin-bottom: 50px;
}
.sidebar-body ul li {
    list-style: none;
    margin-bottom: 20px;
}
.item-header {
    margin-left: 50px;
    margin-bottom: 100px;
}
.item-body {
    flex-wrap: wrap;
    width: 1300px;
    display: flex;
    float: left;
}
.item-cards {
    width: 30%;
    height: 600px;
    margin-right: 20px;
    cursor : pointer;
}
.item-cards-img-box {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("https://mynameiskuun-img-bucket.s3.ap-northeast-2.amazonaws.com/static/images/carousel.jpg");
    width: 300px;
    height: 400px;
}
.item-detail-box {
    padding-left: 30px;
    width: 300px;
}
.item-detail-box div {
    margin-top: 17px;
}
.sort-btn {
    cursor: pointer;
    text-align: center;
}
.sidebar-header h3 {
    text-align: center;
}
.sidebar-body ul {
    padding: 0;
}
.sidebar-body ul li {
    text-align: center;
}
.sort-btn:hover {
    background: lightgray;
    color: black;
    transition: 0.4s;
}
#paging-btn-box {
    display: flex;
    margin: 0 auto;
}
#paging-btn-box div {
    display: flex;
    width: 30px;
    height: 30px;
    border: 1px solid lightGray;
    justify-content: center;
    align-items: center;
}