#item-detail-wrapper {
    width: 90%;
    /*height: 2000px;*/
    margin: 0 auto;
    position: relative;
    padding-top: 120px;
}
#item-name-box {
    border-bottom: 3px solid lightgray;
    margin-bottom: 20px;
}
#item-detail {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 600px;
    background: white;
}
#item-price-box {
    font-size: 25px;
    margin: 10px 0 10px;
}
#item-detail-box {
    margin-left: 20px;
    margin-bottom: 30px;
}
#item-img-box {
    width: 480px;
    height: 550px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
#item-stock-box {
    font-size: 20px;
    margin-bottom: 10px;
}
#order-quantity-box {
    margin-bottom: 10px;
    display: flex;
}
#orderQuantity {
    height: 33px;
    width: 50px;
    margin-left: 30px;
}

#usable-coupon-box {
    border: 2px solid lightgreen;
    border-radius: 5px;
    padding: 0px 5px;
    display: inline-block;
    height: 70px;
    width: 400px;
    font-size: 27px;
    line-height: 70px;
}

#item-information {
    padding-top: 45px;
    height: 90%;
    width: 40%;
    overflow: auto;
}
#order-button-box {
    display: flex;
    align-items: center;
    margin-top: 50px;
}
#review-wrapper-header {
    border-bottom: 1px solid lightgray;
}
#item-detail-content {
    height: 200px;
    margin-left: 30px;
    /* height 나중에 지우기. 내용 추가되면 자동으로 길이 늘어나게 */
}
#orderBtn {
    height: 40px;
}
#cartBtn {
    height: 40px;
    margin-left: 30px;
}
#item-review-box {
    width: 100%;
    margin: 0 auto;
    /* height 나중에 지우기. 내용 추가되면 자동으로 길이 늘어나게 */
}

#item-qna-wrapper {
    width: 90%;
    margin: 0 auto;
    min-height: 300px;
    border: 1px solid lightgray;
    /* height 나중에 지우기. 내용 추가되면 자동으로 길이 늘어나게 */
}
.order-item-detail {
    display: flex;
    align-items: center;
    margin-left: 30px;
}
#buyer-satisfied-score-box {
    margin: 0 auto;
    width: 70%;
}
.rating-score {
    height: 40px;
    line-height: 40px;
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}
.star {
    font-size: 1.3em;
    color: transparent;
    text-shadow: 0 0 0 #f0f0f0;
}
.counted-stars {
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
.graph-box {
    /* position: absolute; */
    width: 190px;
    /* height: 40px;
    line-height: 40px; */
}
.satisfied-level {
    width: 120px;
}
.review-top {
    background: lightgray;
    height: 60px;
    line-height: 60px;
    padding-left: 30px;
}
.event-label {
    height: 30px;
    width: 60px;
    padding-left: 2.5px;
    border: 1px solid;
    border-radius: 2px;
}
.progress {
    position: relative;
    top: 12px;
}
#item-detail-review-wrapper {
    /*width: 800px;*/
}
.percentage {
    width: 50px;
}
.review-contents {
    display: flex;
}
#review-event-box {
    height: 60px;
    display: flex;
    margin-left: 40px;
    margin-top: 15px;
    font-size: 18px;
}
.review-header {
    height: 80px;
    justify-content: space-between;
    display: flex;
    line-height: 80px;
    margin-left: 30px;
}
.review-event-text {
    margin-left: 20px;
}

#review-wrapper {
    margin-bottom: 100px;
    border: 1px solid lightgray;
    margin-top: 40px;
    min-height: 300px;
}

.review-cards {
    /*border : 1px solid lightgray;*/
}

.item-name {
    margin-left: 30px;
    font-size: 30px;
}

.item-img {
    height: 100px;
    width: 100px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(250, 250, 250);
    background-image: url("https://mynameiskuun-img-bucket.s3.ap-northeast-2.amazonaws.com/item/images/1_251007149821208.jpg");
}
.item-detail-name {
    margin-left: 20px;
    height: 130px;
    line-height: 130px;
}
#review-container {
    margin: 0px 40px 40px 40px;
    border: 1px solid lightgray;
}
.customer-review-img-box {
    height: 400px;
    width: 400px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.review-item-features {
    margin-top: 10px;
}
.customer-profile-img-box {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("https://mynameiskuun-img-bucket.s3.ap-northeast-2.amazonaws.com/static/images/default-profile-image.jpg");
}

.customer-star-rating-box {
    margin-left: 30px;
    font-size: 20px;
}
.review-text {
    max-width: 500px;
    margin: 30px 30px;
    color: black;
    font-size: 22px;
}
.review-features-container {
    display: flex;
}
.review-features-container div {
    margin-right: 15px;
}
.item-like-box {
    display: flex;
    justify-content: space-evenly;
    width: 130px;
    height: 35px;
    align-items: center;
    border-radius: 20px;
    border: 1px solid lightgray;
    margin: 20px 30px;
}

.review-like-box {
    display: flex;
    justify-content: space-evenly;
    width: 130px;
    height: 35px;
    align-items: center;
    border-radius: 20px;
    border: 1px solid lightgray;
    margin: 20px 30px;
}
.comment-output-container {
    padding: 0 30px;
}
.review-comment-box {
    margin-top: 20px;
    padding: 0 30px;
}
.review-comment-box div {
    margin-bottom: 20px;
}
.item-thumbs-up {
    background-color: steelblue;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 0px;
    background-image: url("https://mynameiskuun-img-bucket.s3.ap-northeast-2.amazonaws.com/static/images/thumbs-up.png");
}
.review-thumbs-up {
    background-color: steelblue;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 0px;
    background-image: url("https://mynameiskuun-img-bucket.s3.ap-northeast-2.amazonaws.com/static/images/thumbs-up.png");
}
#comment-input-container {
    background: rgb(245, 245, 245);
    border: 1px solid rgb(240, 240, 240);
    cursor: pointer;
}
#comment-input-box {
    display: flex;
    padding-top: 15px;
    cursor: pointer;
    justify-content: space-evenly;
}
#comment-input-area {
    height: 38px;
    width: 90%;
}
.review-features-container {
    margin-left: 30px;
}
.comment-thumbs-up {
    background-color: steelblue;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 0px;
    background-image: url("https://mynameiskuun-img-bucket.s3.ap-northeast-2.amazonaws.com/static/images/thumbs-up.png");
}
.comment-cards {
    display: flex;
    justify-content: space-between;
}
.comment-center-box {
    width: 70%;
}
.comment-like-counts {
    text-align: center;
}
#item-detail-header {
    height: 100px;
    margin: 0 auto;
}
#item-detail-body {
    width: 90%;
    padding: 100px 100px;
}
.like-item-name {
    margin-left: 25px;
}
.usable-coupon {
    border: 2px solid darkgreen;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    margin-bottom: 20px;
}
.usable-coupon div {
    margin-bottom: 5px;
}
.discount-rate-box {
    color: darkgreen;
    font-size: 25px;
    font-weight: bold;
}
.review-right-box {
    padding-top: 30px;
    margin: 0 auto;
}
#review-label {
    padding-top: 35px;
    padding-left: 35px;
    /*margin-bottom: 30px;*/
}
#cards-wrapper {
    padding-top: 35px;
    /*padding-left: 35px;*/
    /*min-height: 300px;*/
}
#empty-review-msg-box {
    /*width: 300px;*/
    margin: 100px auto;
    text-align: center;
}
#qna-wrapper-header {
    display: flex;
    height: 120px;
    align-items: center;
    border-bottom: 1px solid lightgray;
}
#qna-label {
    /*padding-top: 35px;*/
    padding-left: 35px;
}
#qna-body {
    /*padding-top: 35px;*/
    /*padding-left: 35px;*/
}
#qna-container {
    /*padding-left: 35px;*/
    margin: 0 auto;
    width: 90%;
    padding-top: 35px;
}
#qna-footer {
    width: 90%;
    align-items: center;
    justify-content: end;
    display: flex;
    min-height: 80px;
    margin: 0 auto;
}
#qna-btns {
    display: flex;
    justify-content: flex-end;
}
.qna-title-box {
    cursor: pointer;
    text-align: initial;
}